<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <div> 
    {# <div class="flex justify-between items-center px-16 py-3 bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 text-white "> #}
    <div class="flex justify-between items-center px-16 py-3 bg-cyan-600">
    <h2 class="text-3xl  font-bold"><span class="text-white">Menu</span><span class="text-orange-600">Craft</span></h2>
        <ul class="text-lg flex justify-center gap-12 text-white font-bold">
            <a href="/dishes">Dishes</a>
            <a href="/category">Categories</a>
        </ul>
    <button class="btn btn-sm btn-active btn-primary">Login</button>
    </div>
    </div>
    <hr class="mx-4">

        {% for label, messages in app.flashes %}
            <div role="alert" class="toast toast-success fixed bottom-4 left-1/2 transform -translate-x-1/2 bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg z-50 opacity-100 transition-all duration-500">
                {% for message in messages %}
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>{{ message }}</span>
                {% endfor %}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}

        <!-- Add the script to hide the toast after 2 seconds -->
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const toasts = document.querySelectorAll('.toast');
                toasts.forEach(function(toast) {
                    setTimeout(function() {
                        toast.classList.add('opacity-0'); // Fade out the toast
                        setTimeout(() => toast.remove(), 500); // Remove the toast after fade out
                    }, 2000); // 2000 ms = 2 seconds
                });
            });
        </script>
    </body>
</html>
